@model Tachyon.Models.FillingPrescription

@{
    ViewData["Title"] = "UpdateFill";
    Layout = "~/Views/Shared/_Layoutchronic.cshtml";

}


<div class="CollectMed">

    <div class="container">
        <!-- main content -->
        <div class="agile_info">
            <div class="w3l_form">
                <div class="col-lg-4 w3l-features-photo-7_top-right mt-lg-0 mt-4">
                    <img src="/css/poisoning-pill-bottle.jpg" alt="" width="560" />
                </div>
            </div>
            <div class="w3_info">
                <h2>Update Patient filling</h2>

                <form asp action="CreateFilling" method="post">
                    <div class="input-group">
                        <label asp-for="PatientName"></label>
                        <input asp-for="PatientName" class="form-control" />
                    </div>  
                
                    <div class="input-group">
                        <label asp-for="Allergies"></label>
                        <input asp-for="Allergies" class="form-control" />
                    </div>
                    <div class="input-group">
                        <label asp-for="Dosage"></label>
                        <input asp-for="Dosage" class="form-control" />
                    </div>
                    <div class="input-group">
                        <label asp-for="DrugsName"></label>
                        <input asp-for="DrugsName" class="form-control" />
                    </div>
                    <div class="input-group">
                        <label asp-for="DietToFollow"></label>
                        <input asp-for="DietToFollow" class="form-control" />

                    </div>
                   
                   

                    <input type="submit" class="btn btn-success" value="update" />
                </form>
                <a asp-action="MedicationIndex" class="btn btn-danger">Back</a>
            </div>
        </div>

    </div>

</div>



