@model Tachyon.Models.PatientEvaluation

@{
    ViewData["Title"] = "EvalEdit";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}


<div>

<h4>Patient Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EvalEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="physician" class="control-label"></label>
                <input asp-for="physician" class="form-control" />
                <span asp-validation-for="physician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vitals" class="control-label"></label>
                <input asp-for="vitals" class="form-control" />
                <span asp-validation-for="vitals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medHistory" class="control-label"></label>
                <input asp-for="medHistory" class="form-control" />
                <span asp-validation-for="medHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="physicalTest" class="control-label"></label>
                <input asp-for="physicalTest" class="form-control" />
                <span asp-validation-for="physicalTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="riskAssessment" class="control-label"></label>
                <input asp-for="riskAssessment" class="form-control" />
                <span asp-validation-for="riskAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <input asp-for="notes" class="form-control" />
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addInfo" class="control-label"></label>
                <input asp-for="addInfo" class="form-control" />
                <span asp-validation-for="addInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EvalIndex">Back to List</a>
</div>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />
