@model Tachyon.Models.LabTest

@{
    ViewData["Title"] = "LabEdit";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<h4>Lab Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LabEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="patientID" class="control-label"></label>
                <input asp-for="patientID" class="form-control" />
                <span asp-validation-for="patientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="physician" class="control-label"></label>
                <input asp-for="physician" class="form-control" />
                <span asp-validation-for="physician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="testName" class="control-label"></label>
                <input asp-for="testName" class="form-control" />
                <span asp-validation-for="testName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="results" class="control-label"></label>
                <input asp-for="results" class="form-control" />
                <span asp-validation-for="results" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interpretation" class="control-label"></label>
                <input asp-for="interpretation" class="form-control" />
                <span asp-validation-for="interpretation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recommendations" class="control-label"></label>
                <input asp-for="recommendations" class="form-control" />
                <span asp-validation-for="recommendations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LabIndex">Back to List</a>
</div>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />
