@model Tachyon.Models.Procedure

@{
    ViewData["Title"] = "ProcedureEdit";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcedureEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="patientID" class="control-label"></label>
                <input asp-for="patientID" class="form-control" />
                <span asp-validation-for="patientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anesthesia" class="control-label"></label>
                <input asp-for="Anesthesia" class="form-control" />
                <span asp-validation-for="Anesthesia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anesthesiaType" class="control-label"></label>
                <input asp-for="anesthesiaType" class="form-control" />
                <span asp-validation-for="anesthesiaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="physician" class="control-label"></label>
                <input asp-for="physician" class="form-control" />
                <span asp-validation-for="physician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anesthesiologist" class="control-label"></label>
                <input asp-for="Anesthesiologist" class="form-control" />
                <span asp-validation-for="Anesthesiologist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assistant" class="control-label"></label>
                <input asp-for="Assistant" class="form-control" />
                <span asp-validation-for="Assistant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentOperator" class="control-label"></label>
                <input asp-for="InstrumentOperator" class="form-control" />
                <span asp-validation-for="InstrumentOperator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complications" class="control-label"></label>
                <input asp-for="complications" class="form-control" />
                <span asp-validation-for="complications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postProcedure" class="control-label"></label>
                <input asp-for="postProcedure" class="form-control" />
                <span asp-validation-for="postProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instructions" class="control-label"></label>
                <input asp-for="instructions" class="form-control" />
                <span asp-validation-for="instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="disposition" class="control-label"></label>
                <input asp-for="disposition" class="form-control" />
                <span asp-validation-for="disposition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <input asp-for="notes" class="form-control" />
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="ProcedureIndex">Back to List</a>
</div>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />
