@model Tachyon.Models.TreatmentPlan

@{
    ViewData["Title"] = "TreatmentEdit";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}



<h4>Treatment Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TreatmentEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="patientID" class="control-label"></label>
                <input asp-for="patientID" class="form-control" />
                <span asp-validation-for="patientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="procedureName" class="control-label"></label>
                <input asp-for="procedureName" class="form-control" />
                <span asp-validation-for="procedureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientInfo" class="control-label"></label>
                <input asp-for="patientInfo" class="form-control" />
                <span asp-validation-for="patientInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="procedure" class="control-label"></label>
                <input asp-for="procedure" class="form-control" />
                <span asp-validation-for="procedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postProcedure" class="control-label"></label>
                <input asp-for="postProcedure" class="form-control" />
                <span asp-validation-for="postProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recovery" class="control-label"></label>
                <input asp-for="recovery" class="form-control" />
                <span asp-validation-for="recovery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complicationManagement" class="control-label"></label>
                <input asp-for="complicationManagement" class="form-control" />
                <span asp-validation-for="complicationManagement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="followup" class="control-label"></label>
                <input asp-for="followup" class="form-control" />
                <span asp-validation-for="followup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TreatmentIndex">Back to List</a>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />
