<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Practical__Example</title>
    <!-- style css -->
    <link rel="stylesheet" href="~/homeDesign/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/homeDesign/css/responsive.css">
    <!-- fevicon -->
     <link rel="icon" href="~/Logo/favicon.ico" type="image/x-icon" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/homeDesign/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/homeDesign/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/homeDesign/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Practical__Example.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header_section">
        <nav class="fixed-top header_section navbar navbar-expand-sm navbar-toggleable-sm navbar-light m-0 p-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Logo/4.png" style="width:200px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Examples" asp-action="Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Insert">student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                        </li>*@



                    </ul>
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - Practical__Example - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Javascript files-->
    <script src="~/homeDesign/js/jquery.min.js"></script>
    <script src="~/homeDesign/js/popper.min.js"></script>
    <script src="~/homeDesignjs/bootstrap.bundle.min.js"></script>
    <script src="~/homeDesign/js/jquery-3.0.0.min.js"></script>
    <script src="~/homeDesign/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/homeDesignjs/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/homeDesignjs/custom.js"></script>
    <!-- javascript -->
    <script src="~/homeDesign/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
