
@model List<Message>
@{
    ViewData["Title"] = "View Message";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Chat Messages</h2>

<ul>
    @foreach (var message in Model)
    {
        <li>
            <strong>@message.UserName</strong> [@message.Timestamp]: @message.Text
        </li>
	}
	
</ul>
<a class="product-btn" asp-controller="Procedure" asp-action="land">BACK</a>