@{
	ViewData["Title"] = "Send";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Send a Message</h2>

<form method="post" action="@Url.Action("SendMessage", "Chat")">
    <div>
        <label for="text">Message:</label>
        <input type="text" name="text" required />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>

<a class="product-btn" asp-controller="Procedure" asp-action="land">BACK</a>