* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f6f2;
    color: black;
}

.card-img-top {
    border-radius: 50px;
    object-fit: none;
}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card-body {
    padding: 25px;
    margin-top: -15px;
}

.btn-primary {
    border-radius: 50px;
    width: 120px;
}

    .btn-primary:hover {
        background-color: black;
        border: none;
    }

h3, h5 {
    color: rgb(0, 91, 228);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 37px auto 0;
    width: calc(280px * 4);
}

.card {
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
    height: 280px;
    position: relative;
    width: 243px;
}

    .card h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .card.visited {
        box-shadow: 0 3px 10px 2px #444;
    }

@media (max-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        width: calc(280px * 2);
    }

    .card {
        margin: 0 auto 2rem;
    }
}

@media (max-width: 768px) {
    .cards {
        display: block;
        width: 100vw;
    }

    .card {
        margin: 0 auto 2rem;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 60vh;
    background: url("../img/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
    color: black;
}

    #hero:before {
        content: "";
        background: rgba(56, 64, 70, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container {
        z-index: 2;
    }

    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

        #hero h1 span {
            border-bottom: 4px solid #3498db;
        }

    #hero h2 {
        color: black;
        margin-bottom: 30px;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 2px;
        display: inline-block;
        padding: 12px 28px;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
        color: #fff;
        background: #3498db;
        text-transform: uppercase;
    }

        #hero .btn-get-started:hover {
            background: #4ea5e0;
        }

@media (max-width: 992px) {
    #hero {
        height: calc(100vh - 70px);
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 30px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}