@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/walkinLayout.cshtml";
}
<h3 class="page-title">Our <span class="text-primary"></span><span class="text-success">Doctors</span></h3>
<div class="card" style="width: 16rem;">
    <img src="~/css/doctor SMITH.png" class="card-img-top" alt="">
    <div class="card-body">
        <p class="card-text">Dr James Smith
            0897654356
        </p>
        
    </div>


    <div class="card" style="width: 16rem;">
    <img src="~/css/doctor Faith Jenkins.png" class="card-img-top" alt="">
    <div class="card-body">
        <p class="card-text">Dr Faith Jenkins
            0786503752
        </p>

</div>
     <div class="card" style="width: 16rem;">
    <img src="~/css/DR dlamini.png" class="card-img-top" alt="">
    <div class="card-body">
        <p class="card-text">Dr Phumlani Dlamini
            0659879856
        </p>

    </div