@model Tachyon.Models.Booking

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body id="screen">
    <br />
    <br />
    <br />
    <h1 id="Walkheading">Update an appointment</h1>
    <br />
    <form id="card" class="card" asp-controller="Walkin" asp-action="Update" method="post">
        <input asp-for="id" hidden />
        <label>First Name:</label>
        <input asp-for="name" type="text" /><br />
        <label>Last Name:</label>
        <input asp-for="lastname" type="text" /><br />
        <label>Email:</label>
        <input asp-for="email" type="email" /><br />
        <label>Date aand Time:</label>
        <input asp-for="datetimevalue" type="datetime-local" /><br />
        <label>Booking for which department</label>
        <select asp-for="Department">
            <option disabled selected>----Select a department----</option>
            <option>Vaccinantion</option>
            <option>Family planning</option>
            <option>Chronic medication</option>
            <option>Specialised Medical Procedures</option>
        </select>

        <br />
        <button type="submit" id="button2" class="btn-primary">Book</button><br />

    </form>
    <br />
    <a asp-controller="Walkin" asp-action="ViewAppointment"><button id="button1" class="btn-succcess">Back</button></a>
</body>
