@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/walkinLayout.cshtml";
    
}
<head>
	<h3 class="page-title">Welcome to <span class="text-primary">E-</span><span class="text-success">NOMPILO</span></h3>
</head>
<body id="walkinwall">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
@*
	<div class="container-fluid">
		
		<div class="row d-flex w-100">
			<div class="col-md-2">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-users"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Manage File</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Booking</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-newspaper-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Screening</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">List of Available Doctors</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>*@

    <div id="textsum" style="text-align:center;color:black">
        <p >
            <b>
                We Appreciate You.
                We make sure that you receive the same traditional attention and treatment that has been lost in some modern medical
                practices even though we are always expandind our expertise and improving our medical practice.
                You join our family the momennt you enter our doorss.
            </b>
        </p>
        <b>
            <img src="~/css/locationwalk.jpg" width="20px" height="20px" id="location" />14 Plantation street, Port Elizabeth, 6001<br />
            <img src="~/css/phonewalk.jpg" width="20px" height="20px" id="phone" /> 04786947354 <br />
            <img src="~/css/emailwalk.png" width="20px" height="20px" id="email" />enopmilo2@gmai.com
        </b>
        
    </div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
  
    </body>