@model Tachyon.Models.Screening;
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="mt-2 p-2 bg-primary text-center text-white rounded">
	<h6>SCREENING</h6>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<div class="container-fluid bg-white">

	<form method="post" asp-action="CreateScreening">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="row p-3">

			<div class="col-6">
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="intercourse" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="intercourse" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>	
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="intercourse" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="period" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="period" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="period" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="child" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="child" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="child" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="experience" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="experience" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="experience" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="allergies" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="allergies" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="allergies" class=" text-danger"></span>
				</div>
			</div>

			<div class="col-6">



				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="medication" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="medication" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="medication" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="contraceptives" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="contraceptives" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="contraceptives" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="condom" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="condom" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="condom" class=" text-danger"></span>
				</div>
				<div class=" form-group border-5 border-success text-dark">
					<label asp-for="normal" class="text-dark"></label>
					<div col-md-6>
						<select id="DescriptionDropdown" asp-for="normal" class=" form-control" id="validationName" required>
							<option value="select">select</option>
							<option value="10">yes</option>
							<option value="0">no</option>
						</select>
					</div>
					<div class="invalid-feedback">
					</div>
					<span asp-validation-for="normal" class=" text-danger"></span>
				</div>
				


			</div>
	             
	    </div>
		<div class=" form-group row">
			<div class=" col-8 offset-2 row">
				<div class=" col">
					<input type="submit" class="btn-primary btn-lg  " value="submit" />
				</div>
				<div class=" col-1">
					<a asp-action="ScreeningList" class=" btn btn-primary btn-lg ">Screenings</a>
				</div>
			</div>
		</div>

	</form>

</div>


