@model Tachyon.Models.FamilyFeedBack
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="mt-2 p-2 bg-primary text-center text-white rounded">
    <h6>GIVE FEEDBACK</h6>

</div>
<form method="post" asp-action="CreateFeedBack" class=" form-horizontal bg-green-300  p-2 text-dark bg-opacity-20">
    <div class=" border  border-5 border-primary border-5 p-3">
        <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
        
        <div class=" form-group">
            <label asp-for="PhoneNumber"></label>
            <div col-sm-5>
                <input asp-for="PhoneNumber" class=" form-control" id="validationName" required />
            </div>
            <div class="invalid-feedback">
            </div>
            <span asp-validation-for="PhoneNumber" class=" text-danger"></span>
        </div>
        <div class=" form-group">
            <label asp-for="EmailAddress"></label>
            <div col-sm-10>
                <input asp-for="EmailAddress" class=" form-control" id="validationRace" required />
            </div>
            <div class="invalid-feedback">
            </div>
            <span asp-validation-for="EmailAddress" class=" text-danger"></span>

        </div>
        <div class=" form-group">
            <label asp-for="Message"></label>
            <div col-sm-10>
                <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
            <div class="invalid-feedback">
            </div>
            <span asp-validation-for="Message" class=" text-danger"></span>
        </div>
       
   

        <div class=" form-group row">
            <div class=" col-8 offset-2 row">
                <div class=" col">
                    <input type="submit" class="btn-primary btn-lg  " value="submit" />
                </div>
                <div class=" col-1">
                    <a asp-action="FeedbackList" class=" btn btn-primary btn-lg ">feebacks</a>
                </div>
            </div>
        </div>

    </div>


</form>
