@using Microsoft.AspNetCore.Identity
@using Tachyon.Models
@using Tachyon.Areas.Identity.Data

@inject SignInManager<TachyonUser> SignInManager
@inject UserManager<TachyonUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}

<style>
    #dash-con {
        background: hsla(120, 60%, 70%, 0.3);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

        #dash-con:hover {
            background: hsla(120, 60%, 70%, 0.3);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 20px );
            -webkit-backdrop-filter: blur( 20px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
</style>
<h1>Welcome <span class="text-danger">E</span><span class="text-info">-NOMPILE</span> <bold></bold></h1>

<div class="container-fluid pt-4 px-4">

    <div class="row g-4">
        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
               @* <img src="~/Image/App.png" style="width: 79px" />*@
                <div class="ms-3">
                    <a a asp-controller="Family" asp-action="CreateAppointment">
                    <h4 class="mb-2">Appointments<span class="badge bg-white rounded-pill text-primary"></span></h4>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
               @*@* <img src="~/Image/File.png" style="width: 65px" />*@
                <div class="ms-3">
                      <a a asp-controller="Family" asp-action="CreateSreening">
                    <h4 class="mb-2">Screening</h4>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
               @* <img src="~/Image/Alerts.png" style="width: 95px" />*@
                <div class="ms-3">
                      <a a asp-controller="Family" asp-action="CreateTrackMenstruation">
                    <h4 class="mb-2">Track-Cycle</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                
                <div class="ms-3">
                      <a a asp-controller="Family" asp-action="CreateFeedBack">
                    <h4 class="mb-2">Feedback</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
        <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/css/FamilyPlanning.jfif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">methods of contraception:</h5>
                        <p class="card-text">
                            long-acting reversible contraception - the implant or intra uterine device (IUD)
                            hormonal contraception - the pill or the Depo Provera injection.
                            barrier methods - condoms.
                            emergency contraception.
                            fertility awareness.
                            permanent contraception - vasectomy and tubal ligation.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/css/FamilyPlanning2.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">How long does family planning take in the body?</h5>
                        <p class="card-text">
                            -The time it takes for birth control to start working depends on the method.
                            -Barrier methods, such as condoms, are effective at once, while a vasectomy can take 3 months or longer.
                            -Barrier methods, such as condoms, work immediately when used correctly,
                            while birth control pills may take several days to start working.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Dr M</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Please not that am aware of the appointmetns</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">

                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Mr M</h6>
                            <small>40 minutes ago</small>
                        </div>
                        <span>Hey , i hope you are good. you have been...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Admin</h6>
                            <small>3 days ago</small>
                        </div>
                        <span>Welcome to E-nompilo...</span>
                    </div>
                </div>
            </div>
        </div>

    
        <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex mb-2">
                    <input class="form-control bg-dark border-0" type="text" placeholder="Enter task">
                    <button type="button" class="btn btn-primary ms-2">Add</button>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Call Dr nullar</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked>
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span><del>Wake up,make my bed</del></span>
                            <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Take My Medication.....</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Make Appointment....</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Family Planning</h1>
    <p>Family planning allows people to attain their desired number of children, if any, and to determine the spacing of their pregnancies. It is achieved through use of contraceptive methods and the treatment of infertility.</p>
</div>
	<br/>				
<div class="container-fluid">
	@*<h3 class="page-title">Welcome to <span class="text-primary">E-</span><span class="text-success">NOMPILO</span></h3>*@
	@*<div class="row d-flex w-100">
		<div class="col-md-2">
			<div class="card card-stats card-warning">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-users"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Appointment</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-success">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-bar-chart"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Screening</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-danger">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-newspaper-o"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Track-menstruation</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-primary">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-check-circle"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Feedback</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-warning">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-check-circle"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">prescription</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/css/FamilyPlanning.jfif" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">methods of contraception:</h5>
                <p class="card-text">
                    long-acting reversible contraception - the implant or intra uterine device (IUD)
                    hormonal contraception - the pill or the Depo Provera injection.
                    barrier methods - condoms.
                    emergency contraception.
                    fertility awareness.
                    permanent contraception - vasectomy and tubal ligation.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/css/FamilyPlanning2.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">How long does family planning take in the body?</h5>
                        <p class="card-text">
                            -The time it takes for birth control to start working depends on the method. 
                            -Barrier methods, such as condoms, are effective at once, while a vasectomy can take 3 months or longer. 
                            -Barrier methods, such as condoms, work immediately when used correctly,
                            while birth control pills may take several days to start working.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
