@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}

<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
        <div class="card">
            <img src="~/css/pill.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pills</h5>
                <p class="card-text text-primary">Birth control pills prevent pregnancy 99% of the time when you take them every day, exactly as prescribed. </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/css/injection.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Injection</h5>
                <p class="card-text text-secondary">An injection is a shot, or a dose of medicine given by way of a syringe and a needle. Commonly called the depo shot or birth control shot, this medication is injected into your arm or buttocks.</p>
             </div>
         </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/css/IUD.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">IUD (Intrauterine Device)</h5>
                <p class="card-text text-secondary">Each type of IUD works for a different length of time. Skyla and Liletta work for three years, Mirena for five years, and ParaGard for up to 10 years.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
        <div class="card">
            <img src="~/css/implant.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Implants</h5>
                <p class="card-text">The contraceptive implant (Nexplanon) is a small flexible plastic rod that's placed under the skin in your upper arm by a doctor or nurse. </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/css/condom.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Condoms</h5>
                <p class="card-text">A condom is a thin, fitted tube worn over the penis during sex (male condoms) or inserted into the vagina before sex (female condoms).</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/css/Rings.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vaginal Ring</h5>
                <p class="card-text text-secondary">
                    The vaginal ring (NuvaRing) is a small soft, plastic ring that you place inside your vagina.
                    It releases a continuous dose of the hormones oestrogen and progestogen into the bloodstream to prevent pregnancy.

                </p>
            </div>
        </div>
    </div>
</div>
