@model IEnumerable<Tachyon.Models.FamilyScrenning>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
@*@if(TempData["Result"] != null)
{*@
    <div id="mymodal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">Screening result</h3>
                    <button type="button" id="close" class="close btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/css/images.jpg" class="rounded float-end">
                    <h4>@TempData["Result"]</h4>
                </div>
            </div>
        </div>
    </div>
@*}*@

<div class="container p-3 bg-blue-200 p-2 text-dark bg-opacity-50">
   @* <img src="~/css/images.jpg" class="rounded float-end">
    <div class=" row pt-4">
        <div class=" col-10">
            <h2 class="text-primary"> Feedback list</h2>
        </div>
        <div class=" col-10 text-right">
            <a asp-controller="Family" asp-action="CreateScreening" style="width:100%"></a>
        </div>
    </div>*@
@*
    <br />*@
    <p>
    <a asp-action="CreateScreening" class="btn btn-success"> add  a new screening</a>
    </p>
    
    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped table-success">
            <thead>
                <tr>
                      <th>Name</th>
                      <th>surname</th>
                    <th>Date</th>
                   
                    <th>drink</th>
                    <th>Period</th>
                    <th>Child</th>
                    <th>Intercourse</th>
                    <th>Allergies</th>
                    <th>Medication</th>
                    <th>contraceptive</th>
                    <th>suggetions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var screening in Model)
                {

                    <tr>
                        <td>@screening.mainUser.FirstName</td>
                        <td>@screening.mainUser.LastName</td>
                        <td>@screening.date</td>
                        
                        <td>@if(screening.Drink == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>

                        <td>@if (screening.Period==10)
                            
                                {
                                    <p>Yes</p>
                                }
                            else
                            {
                                    <p>No</p>
                            }

                            
                        </td>
                        <td>@if (screening.Child == 10)
                                {
                                
                                    <p>Yes</p>
                                }
                            else
                            {
                                    <p>No</p>
                            }

                            
                        </td>
                        <td>@if (screening.intercourse == 10)
                            
                                {
                                    <p>Yes</p>
                                }
                            else
                                {
                                    <p>No</p>
                                }

                            
                        </td>
                        <td>@if (screening.allergies == 10)
                            
                                {
                                    <p>Yes</p>
                                }
                            else
                                {
                                    <p>No</p>
                                }

                            
                        </td>
                        <td>@if (screening.medication == 10)
                            
                                {
                                    <p>Yes</p>
                                }
                            else
                                {
                                    <p>No</p>
                                }

                            
                        </td>
                        <td>@if (screening.contraceptive == 10)
                            
                                {
                                    <p>Yes</p>
                                }
                            else
                                {
                                    <p>No</p>
                                }

                            
                        </td>
                        <td>
                            @if(screening.Child == 10)
                            {
                                <p>1.pill</p>
                                <p>2.implant</p>
                                <p>3.plan B</p>
                            }
                            else
                            {
                                <p>1.pill</p>
                                <p>2.Injection</p>
                                <p>3.Plan B</p>
                                <p>4.Implant</p>
                            }
                        </td>

                    </tr>



                }

            </tbody>
        </table>
        <a href="javascript:window.print()" class="btn btn-Info">Print</a>
    }
    else
    {
        <p>NO screening has been done</p>
    }


</div>

