@model IEnumerable<Tachyon.Models.Screening>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}




<div class="container p-3 bg-blue-200 p-2 text-dark bg-blue-200 bg-opacity-50">
    <img src="~/css/images.jpg" class="rounded float-end">
    <div class=" row pt-4">
        <div class=" col-10">
            <h2 class="text-primary"> screening List</h2>
        </div>
        <div class=" col-10 text-right">
            <a asp-controller="Family" asp-action="CreateScreening" style="width:100%"></a>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {
         
            <table class="table    table-bordered table-striped table-success" >
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                   
                    <th>
                        1. sexual intercourse?"
                    </th>
                    <th>
                        2. periods?
                    </th>
                    <th>
                        3.  child?
                    </th>
                    <th>
                        4.morning sickness?
                    </th>
                    <th>
                        5. allergies?
                    </th>
                    <th>
                        6. medication?
                    </th>
                    <th>
                        7.contraceptives?
                    </th>
                    <th>
                        8.using condom?
                    </th>
                    <th>
                        9.normal cycle?
                    </th>
                    <th>
                        10.birth Controls for you
                    </th>
                    <th> NOTE</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var fed in Model)
                {
                    <tr>
                        <td>@fed.MainUser.FirstName @fed.MainUser.LastName</td>
                        <td>@fed.Date</td>
                     
                    
                        <td>@if(fed.intercourse == 10)
                            {
                                <p>yes</p>
                            }
                            else 
                            {
                                <p> no</p>
                            }
                          
                        </td>
                        <td>@if(fed.period == 10)
                            {
                                <p> yes</p>
                            }
                            else 
                            {
                                <p>no</p>
                            }
                           

                        </td>
                        <td>@if (fed.child == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }
                        </td>
                        <td>@if(fed.experience == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>
                        <td>@if(fed.allergies == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }
                        </td>
                        <td>@if(fed.medication == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>
                        <td>@if(fed.contraceptives == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>
                        <td>@if(fed.condom == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>
                        <td>
                            @if (fed.normal == 10)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>
                          <td>
                            @if (fed.child == 10)
                            {
                                <p>-Pill,impant,3 months injection,PlanB </p>
                                
                            }
                            else
                            {
                                <p>1.Pill,Impant,2 Months injection,PlanB</p>
                             
                            }

                        </td>
                        <td>
                            @if (fed.normal == 10)
                            {
                                <p>1.take pregnancy test</p>
                                
                            }
                            else
                            {
                                <p>make an appointment</p>
                              
                            }

                        </td>
                    </tr>
                   
                }
            </tbody>
        </table>
       
        <div class="col-6 text-right  d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-controller="Family" asp-action="CreateScreening" class="btn btn-outline-info">Back</a>
        </div>

    }
    else
    {
        <p>No Chat added yet</p>
    }

</div>

