@model Tachyon.Models.FamilyAppointment
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="mt-2 p-2 bg-primary text-center text-white rounded">
    <h6>UPDATE APPOINTMENT</h6>

</div>

<div class="container p-3 bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
  <form method="post" asp-action="updateAppointment" class="bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
    <input asp-for="AppointmentID" hidden />
   <div class="border border-dark ">
               
   
             
                   <div class="form-group ">
                     <div class="col">
                        <label asp-for="Description"></label>
                        <div col-md-6>
                            <select id="DescriptionDropdown" asp-for="Description" class=" form-control" id="validationName" required>
                                <option value="select">select</option>
                                <option value="Pill">pill</option>
                                <option value="Implant">implant</option>
                                <option value="Injection">Injection</option>
                                <option value="Plan B">Plan B</option>

                            </select>
                     </div>
                     <div class="col">
                        <label asp-for="NurseName"></label>
                            <div col-sm>
                                <select id="NurseDropdown" asp-for="NurseName" class=" form-control" id="validationName" required>
                                    <option value="select">select</option>
                                    <option value="Miss Buntu"> Miss Buntu</option>
                                    <option value="Mr Treat">Mr treat</option>
                                    <option value="Miss Lisa">miss lisa</option>
                                </select>
                            </div>
                     </div>
                   </div>
            
              
                    <div class="col">
                        <label asp-for="CurrentDate"></label>
                        <input asp-for="CurrentDate" class="form-control" />
                    </div>
                    <div class="col">
                        <label asp-for="AppointmentDate"></label>
                        <input asp-for="AppointmentDate" class="form-control" />
                    </div>
                @if (User.IsInRole("Doctor"))
                {
                    <div class="col">
                        <label asp-for="status"></label>
                        <div col-sm>
                            <select id="NurseDropdown" asp-for="status" class=" form-control" id="validationName" required>
                                <option value="select">select</option>
                                <option value="POSTPONE">POSTPONE</option>
                                <option value="ACCEPTED">ACCEPTED</option>
                              
                            </select>
                        </div>
                    </div>
                }
                @if (User.IsInRole("Patient"))
                {
                    <div class="col">
                        <label asp-for="status"></label>
                        <div col-sm>
                            <select id="NurseDropdown" asp-for="status" class=" form-control" id="validationName" required>
                                <option value="PENDING">PENDING</option>

                            </select>
                        </div>
                    </div>
                    
                }


            <div class=" form-group row">
                      <div class="col-6 ">
                        <input type="submit" class="btn btn-info w-75" value="update" />
                      </div>
                      <div class="col-6">
                        <a asp-action="listAppointments" class="btn btn-danger w-75"> Back</a>
                      </div>
             </div>
  
    </div>
   
   </form>
</div>