
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
	<h1 class="page-title">Welcome</h1>
	<div class="row d-flex w-100">

		<div>
			<section class="products">
				@* <h2>Sub System</h2> *@
				<div class="all-products">
					<div class="product">
						<img src="~/css/specialise.png" />
						<div class="product-info">
							<h4 class="product-title">
							</h4>
							<a asp-controller="Procedure" asp-action="land">Walk-in </a>
						</div>
					</div>
					<div class="product">
						<img src="~/css/7477305_3618271.jpg" />
						<div class="product-info">
							<h4 class="product-title">
							</h4>
							<a class="product-btn" asp-controller="Vaccine" asp-action="Index">Vaccine</a>
						</div>
					</div>
					<div class="product">
						<img src="~/css/pngtree-hand-drawn-cartoon-medical-treatment-illustration-png-image_2173250.jpg" />
						<div class="product-info">
							<h4 class="product-title">
							</h4>
							<a class="product-btn" asp-controller="Family" asp-action="Index">Family Planning</a>

						</div>
					</div>
					<div class="product">
						<img src="~/css/5268552.jpg" />
						<div class="product-info">

							<h4 class="product-title">Specialised Medical Porocedures</h4>
							<a class="product-btn" asp-controller="Specialised" asp-action="ProcedureIndex">Patient Pogress</a>
						</div>
					</div>
					<div class="product">
						<img src="~/css/blood-test.png" />
						<div class="product-info">
							<h4 class="product-title">
								Chronic
							</h4>
							<a class="product-btn" asp-controller="Chronic" asp-action="Chronic_Dashboard">Chronic</a>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/style - copy.css" rel="stylesheet" />