@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/walkinLayout.cshtml";
}
<style>
    #dash-con {
        background: rgba( 0, 255, 255, 0.75 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

        #dash-con:hover {
            background: rgba( 0, 255, 0, 0.3 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 20px );
            -webkit-backdrop-filter: blur( 20px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
</style>
<h1>Welcome <span class="text-primary"></span><span class="text-success"></span> <bold>PATIENTS</bold></h1>

<div class="container-fluid pt-4 px-4">

    <div class="row g-4">
        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/medicalfile.png" style="width: 79px" />
                <div class="ms-3">
                    <h4 class="mb-2">Manage File<span class="badge bg-primary rounded-pill text-white"></span></h4>

                </div>
            </div>
        </div>


        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/calender.png" style="width: 79px" />
                <div class="ms-3">
                    <h4 class="mb-2">Booking</h4>

                </div>
            </div>
        </div>


        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/selfscreen.png" style="width: 79px" />
                <div class="ms-3">
                    <h4 class="mb-2">Screening</h4>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/Practitioner.png" style="width: 79px" />
                <div class="ms-3">
                    <h4 class="mb-2">Doctors</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">My Appointments</h6>
            <a href="@Url.Action("Progress_Report","Reports")" class="button">Generate Report</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">

                <thead class="table-primary">
                    <tr>
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>
                        <th>Department</th>
                        <th>Doctor Information</th>
                        <th>Screening Status</th>


                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>2023/09/01</td>
                        <td>10:00</td>
                        <td class="">Family Planning</td>
                        <td>Dr Dlamini</td>
                        <td>low Risk</td>

                    </tr>
                    <tr>
                        <td>2023/09/02</td>
                        <td>11:00</td>
                        <td class="">Chronic Medication</td>
                        <td>Dr Jenkins</td>
                        <td>High Risk</td>

                    </tr>
                    <tr>
                        <td>2023/09/03</td>
                        <td>12:00</td>
                        <td class="">Vaccination</td>
                        <td>Dr Smith</td>
                        <td>low risk</td>

                    </tr>

                    }
                    <tr>
                    </tr>

                </tbody>



            </table>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Dr Smith</h6>
                            <small>10 minutes ago</small>
                        </div>
                        <span>Please do not forget we have an appointment</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">

                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Dr Jekins</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>cannot wait to meet for our appointment</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" width="40" height="40" src="https://img.icons8.com/color/48/user.png" alt="user" />
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Admin</h6>
                            <small>3 days ago</small>
                        </div>
                        <span>Welcome to E-nompilo...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex mb-2">
                    <input class="form-control bg-success border-0" type="text" placeholder="Enter task">
                    <button type="button" class="btn btn-primary ms-2">Add</button>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Call Dr Dlamini</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked>
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span><del>set up an alarm to wake up</del></span>
                            <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>check my appointment.....</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>attend my appointment</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>