@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/walkinLayout.cshtml";
}

<div class="container-fluid">
	<h3 class="page-title">Welcome to <span class="text-primary"></span><span class="text-success">PATIENTS</span></h3>
	<div class="row d-flex w-100">
		<div class="col-md-2">
			<div class="card card-stats card-warning">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-users"></i>
							</div>
						</div>
						@*<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Walk-in</p>

							</div>*@
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-success">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-bar-chart"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Manage File</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-danger">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-newspaper-o"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Booking</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-primary">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-check-circle"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Screening</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card card-stats card-warning">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-check-circle"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">List of Available Doctors</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
