@{
    ViewData["Title"] = "Land";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<h1>Land</h1>

<p>
    **Specialized Medical Procedures Offered:**

    ---

    **Joint Injections**
    - Targeted delivery of medication directly into a joint to alleviate pain and inflammation, often used for conditions like arthritis or other joint disorders.

    ---

    **Spirometry/Bronchoscopy**
    - Comprehensive lung assessments with spirometry measuring lung function and capacity, while bronchoscopy provides a direct view of the airways to diagnose and treat various respiratory conditions.

    ---

    **ECGs (Electrocardiograms)**
    - A non-invasive test that records the electrical activity of the heart, helping to identify irregular rhythms, heart attacks, and other cardiac problems.

    ---

    **Screening Procedures**
    - Preventative tests and exams designed to detect potential health issues before they become serious. Includes checks for cancers, heart conditions, and more.

    ---

    **Minor Surgeries**
    - Outpatient procedures that address various conditions, requiring minimal incisions and often allowing for faster recovery times compared to major surgeries.

    ---
</p>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>