<body>
    <!-- header section start -->
    <div class="header_section">

        <!-- header section end -->
        <!-- banner section start -->
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                                    <p class="banner_text">Your health is an investment, not an expense.</p>
                                    <div class="btn_main">
                                        <div class="more_bt"><a id="register" asp-area="Identity" asp-page="/Account/Register">Be our patient</a></div>
                                        <div class="contact_bt"><a id="login" asp-area="Identity" asp-page="/Account/Login">Already our patient</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/homeDesign/images/img-1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                                    <p class="banner_text">Health is the foundation of a fulfilling life.</p>
                                    <div class="btn_main">
                                        <div class="more_bt"><a id="register" asp-area="Identity" asp-page="/Account/Register">Be our patient</a></div>
                                        <div class="contact_bt"><a id="login" asp-area="Identity" asp-page="/Account/Login">Already our patient</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/homeDesign/images/img-1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                                    <p class="banner_text">Small steps today, big health benefits tomorrow.</p>
                                    <div class="btn_main">
                                        <div class="more_bt"><a asp-area="Identity" asp-page="/Account/Register">Be our patient</a></div>
                                        <div class="contact_bt"><a asp-area="Identity" asp-page="/Account/Login">Already our patient</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/homeDesign/images/img-1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
            </a>
        </div>
    </div>
    <!-- banner section end -->
    <!-- health section start -->
    <div class="health_section layout_padding">
        <div class="container">
            <h1 class="health_taital">With <span class="text-primary">E-</span><span class="text-success">NOMPILO</span>, you get <span class="text-primary">Best Of Health care</span> for you</h1>
            <p class="health_text">
                <span class="text-primary">E-</span><span class="text-success">NOMPILO</span> offers you the epitome of health care, ensuring your well-being is at its finest. Our commitment to excellence guarantees that you receive the very best in health services, tailored to your unique needs. With E-NOMPILO, your journey to optimal health and vitality is guided by a dedicated team of professionals who prioritize your wellness above all else. Experience the pinnacle of care and embark on a transformative path to a healthier, happier you.
            </p>
            <div class="health_section layout_padding">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="image_main">
                            <div class="main">
                                <img src="~/homeDesign/images/img-2.png" alt="Avatar" class="image" style="width:100%">
                            </div>
                            <div class="middle">
                                <div class="text"><img src="~/homeDesign/images/icon-1.png" style="width: 40px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="image_main_1">
                            <div class="main">
                                <img src="~/homeDesign/images/img-3.png" alt="Avatar" class="image" style="width:100%">
                            </div>
                            <div class="middle">
                                <div class="text"><img src="~/homeDesign/images/icon-1.png" style="width: 40px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="getquote_bt_1"><a href="#">Read More <span><img src="~/homeDesign/images/right-arrow.png"></span></a></div>
            </div>
        </div>
    </div>
    <!-- health section end -->
    <!-- knowledge section end -->
    <div class="knowledge_section layout_padding">
        <div class="container">
            <div class="knowledge_main">
                <div class="left_main">
                    <h1 class="knowledge_taital">Knowledge of center</h1>
                    <p class="knowledge_text">
                        Our mission is to provide you with unparalleled health care, delivering a holistic approach that encompasses both physical and emotional vitality. With E-NOMPILO, you gain access to a world of cutting-edge medical expertise, personalized treatments, and a supportive environment that empowers you to achieve your health goals. Trust in our unwavering dedication to your well-being, and let us guide you towards a life of vibrant health and lasting wellness.
                    </p>
                </div>
                <div class="right_main">
                    <div class="play_icon"><a href="#"><img src="~/homeDesign/images/play-icon.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- knowledge section end -->
    <!-- news section start -->
    <div class="news_section layout_padding">
        <div class="container">
            <h1 class="health_taital">Why choose 24hr home care</h1>
            <p class="health_text">Make health a habit, not a chore.</p>
            <div class="news_section_2 layout_padding">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/homeDesign/images/icon-2.png"></div>
                            <h4 class="daily_text">Daily care experts</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main active">
                            <div class="icon_1"><img src="~/homeDesign/images/icon-3.png"></div>
                            <h4 class="daily_text_1">Available 24/7</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="box_main">
                            <div class="icon_1"><img src="~/homeDesign/images/icon-4.png"></div>
                            <h4 class="daily_text_1">Balanced care</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="getquote_bt"><a >Be our Patient<span><img src="~/homeDesign/images/right-arrow.png"></span></a></div>
        </div>
    </div>
    <!-- news section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <h1 class="contact_taital">What we do</h1>
            <div class="news_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon_main">
                            <div class="icon_7"><img src="~/homeDesign/images/icon-7.png"></div>
                            <h4 class="diabetes_text">Counselling and Family Planning </h4>
                        </div>
                        <div class="icon_main">
                            <div class="icon_7"><img src="~/homeDesign/images/icon-5.png"></div>
                            <h4 class="diabetes_text">General Diagnoses(Walkin Patient) and Vaccination</h4>
                        </div>
                        <div class="icon_main">
                            <div class="icon_7"><img src="~/homeDesign/images/icon-6.png"></div>
                            <h4 class="diabetes_text">Chronic Mediacation and Medical Procedures</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact_box">
                            <h1 class="book_text">Book Appoinment</h1>
                            <input type="text" class="Email_text" placeholder="Name" name="Name">
                            <input type="text" class="Email_text" placeholder="Name" name="Name">
                            <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                            <div class="send_bt"><a href="#">SEND</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
    <!-- client section start -->
    <div class="client_section layout_padding">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h1 class="client_taital">What People Say</h1>
                        <p class="client_text">It is a long established fact that a reader will be distracted </p>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="~/homeDesign/images/client-img.png" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="distracted_text">Distracted by</h3>
                                <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                <div class="quote_icon"><img src="~/homeDesign/images/quote-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="client_taital">What People Say</h1>
                        <p class="client_text">It is a long established fact that a reader will be distracted </p>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="images/client-img.png" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="distracted_text">Distracted by</h3>
                                <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                <div class="quote_icon"><img src="~/homeDesign/images/quote-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <h1 class="client_taital">What People Say</h1>
                        <p class="client_text">It is a long established fact that a reader will be distracted </p>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="~/homeDesign/images/client-img.png" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="distracted_text">Distracted by</h3>
                                <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                <div class="quote_icon"><img src="images/quote-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
            </a>
        </div>
    </div>
    <!-- client section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer_logo"><a><img src="~/Logo/4.png" /></a></div>
                    <h1 class="adderss_text">Contact Us</h1>
                    <div class="map_icon"><img src="~/homeDesign/images/map-icon.png"><span class="paddlin_left_0">Port Elizabeth, Korsten</span></div>
                    <div class="map_icon"><img src="~/homeDesign/images/call-icon.png"><span class="paddlin_left_0">+2771443355</span></div>
                    <div class="map_icon"><img src="~/homeDesign/images/mail-icon.png"><span class="paddlin_left_0">Info@Enompilo.com</span></div>
                </div>
               
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Newsletter</h1>
                    <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Emil">
                    <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="~/homeDesign/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="~/homeDesign/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="~/homeDesign/images/linkedin-icon.png"></a></li>
                            <li><a href="#"><img src="~/homeDesign/images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
</body>